body{
    background-color:rgb(240, 232, 217) ;
}
header {
    font-weight: bold;
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(219, 199, 175);
    left: 0;
    top: 0;
    }

a {
    text-decoration: none;
    text-transform: capitalize;
    }
.header-logo {
    width: 60px;
    
}
.header-nav {
    display: flex;
    margin-right: 100px;
    gap: 30px;
    font-size: medium;
  }

.nav-item {
    color: rgb(211, 123, 22);
    position: relative;
}
.nav-item:hover {
    color: rgb(141, 85, 21);
    position: relative;
}


.footer {
position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(211, 123, 22);
    justify-content: space-between;
    color: white;
    text-align: center;
    margin-top: 70px;
    height: 40px;
    
 }
.footer p{
    float:center; 
    margin: 10px 0px;  
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
    border-radius: 50%;
    float: left;
    color:antiquewhite;     
}
.fa:hover {
    opacity: 0.7;
}

.accounting{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(211, 123, 22);
        justify-content: space-between;
        color: white;
        text-align: center;
        height: 40px;
}
.accounting p{
    float:center; 
    margin: 10px 0px; 
    position: center 
    
}
/* senior level*/
.adm{
    margin:85px 40px;
    justify-content:space-between ;
    display: inline-block;
    border: 2px  rgba(141, 85, 21,0.6);
    float :left;
    width: 250px;
    border-radius: 20px ;
    background-color: rgba(141, 85, 21, 0.6);
    
    
}
.adm img{
    width: 200px;
    margin:23px ;
    border: 1px groove rgba(196, 188, 180, .7);
    border-radius: 20px ;
    background-color: rgba(196, 188, 180, .7);
}
.adm p{
    width:225px;
    text-align: center;
    display: block;
    border: 1px   ;
    margin-left: 10px;
    line-height: 25px;
    border-radius: 20px ;
    background-color: rgba(141, 85, 21, 0.15);
    color:  rgb(109, 65, 14);
}
.adm img:hover{
    width: 210px;
    margin-right:10px ;
    cursor:pointer;

}
.adm p:hover{
    width: 210px;
    margin-right:10px ;
    color: rgba(141, 85, 21,.8);
    cursor:pointer;

}

/* mid-senior level*/
 .fin{
    margin:85px 40px;
    justify-content:space-between ;
    display: inline-block;
    border: 2px  rgba(141, 85, 21,0.6);
    float :left;
    width: 250px;
    border-radius: 20px ;
    background-color: rgba(141, 85, 21, 0.4);

    
}
.fin img{
    width: 200px;
    margin:23px ;
    border: 1px  rgba(196, 188, 180, .7);;
    border-radius: 20px ;
    background-color: rgba(196, 188, 180, .7);
}
.fin p{
    width:225px;
    text-align: center;
    display: block;
    border: 1px   ;
    margin-left: 10px;
    line-height: 25px;
    border-radius: 20px ;
    background-color: rgba(141, 85, 21, 0.15);
    color: rgb(141, 85, 21);

}
.fin img:hover{
    width: 210px;
    margin-right:10px ;
    cursor:pointer;

}
.fin p:hover{
    width: 210px;
    margin-right:10px ;
    color: rgba(141, 85, 21,.8);
    cursor:pointer;

}

/* junior level*/

.mark{
    margin:85px 40px;
    justify-content:space-between ;
    display: inline-block;
    border: 2px  rgba(141, 85, 21,0.8);
    float :left;
    width: 250px;
    border-radius: 20px ;
    background-color: rgba(141, 85, 21, 0.25);
    

}
.mark img{
    width: 200px;
    margin:23px ;
    border: 1px groove rgba(196, 188, 180, .7);;
    border-radius: 20px ;
    background-color: rgba(196, 188, 180, .7);
}
.mark p{
    width:225px;
    text-align: center;
    display: block;
    border: 1px   ;
    margin-left: 10px;
    line-height: 25px;
    border-radius: 20px ;
    background-color: rgba(197, 172, 146, 0.3);
    color: rgb(172, 104, 27);
} 
.mark img:hover{
    width: 210px;
    margin-right:10px ;
    cursor:pointer;

}
.mark p:hover{
    width: 210px;
    margin-right:10px ;
    color: rgba(141, 85, 21,.8);
    cursor:pointer;

}

.dev{
    margin:85px  50px;
    justify-content:space-between ;
    display: inline-block;
    border: 2px  rgba(141, 85, 21,0.8);
    float :left;
    width: 250px;
    border-radius: 20px ;
    background-color: rgba(141, 85, 21, 0.15);
    

}
.dev img{
    width: 200px;
    margin:23px ;
    border: 1px groove rgba(196, 188, 180, .7);;
    border-radius: 20px ;
    background-color: rgba(196, 188, 180, .7);
}
.dev p{
    width:225px;
    text-align: center;
    display: block;
    border: 1px   ;
    margin-left: 10px;
    line-height: 25px;
    border-radius: 20px ;
    background-color: rgba(197, 172, 146, 0.2);
    color: rgb(172, 104, 27);
} 
.dev img:hover{
    width: 210px;
    margin-right:10px ;
    cursor:pointer;

}
.dev p:hover{
    width: 210px;
    margin-right:10px ;
    color: rgba(141, 85, 21,.8);
    cursor:pointer;

}

